/* 
    font-family: 'Lato', sans-serif; 
    font-family: 'Klee One', cursive;
    font-family: 'Oooh Baby', cursive;

    Seasalt: hsl(270, 14%, 97%);
    Nyanza: hsl(120, 100%, 95%);
    Celadon: hsl(133, 41%, 76%);
    Dark spring green: hsl(152, 72%, 27%);
    Eerie black: hsl(199, 17%, 12%);
*/

* {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

:root {
    width: 99vw;
    background-color: hsl(120, 100%, 95%);
    color: hsl(199, 17%, 12%);
}

header {
    text-align: center;
    background-color: hsl(152, 72%, 27%);
    color: hsl(270, 14%, 97%);
    padding: 1em;
}

h1 {
    font-family: 'Klee One', cursive;
    font-size: 3rem;
}

h2 {
    font-family: 'Oooh Baby', cursive;
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: 700;
}

h5 {
    font-weight: 300;
}

hr {
    border: 2px solid hsl(152, 72%, 27%);
}

main {
    background-color: hsl(133, 41%, 76%);
    padding: 2em;
}

.introduction {
    display: flex;
    align-items: center;
    padding: 0.5em;
}

.headshot {
    width: 30%;
}

.description {
    width: 70%;
    margin-left: 0.5em;
}

.contact-profiles {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.order-wrap {
    width: 45%;
    word-wrap: break-word;
}

.entry {
    display: flex;
    padding: 0.5em;
}

ul {
    margin-top: 0.5em;
}

li {
    line-height: 1.5;
}

@media screen and (min-width: 930px) {
    body {
        max-width: 1200px;
        min-width: 930px;
        margin: auto;
    }

    main {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        gap: 3em;
    }

    .introduction {
        grid-area: 1/1/2/3; 
    }

    .contact-profiles {
        grid-area: 1/3/4/4;
        flex-direction: column;
    }

    .order-wrap {
        width: 100%;
    }

    .work-history {
        grid-area: 2/1/3/3;
    }

    .education {
        grid-area: 3/1/4/3;
    }
}